body {
    margin: 0%;
    background-color: rgb(222, 250, 250);
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background: linear-gradient(to right, blue, violet);
    border: 3px solid blueviolet;
}
header img{
    width: 100px;
    margin: 20px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.button-site {
    background-color: black;
    color: #fff;
}

.button-twitter {
    background-color: black;
    color: #fff;
}

.button:hover {
    background-color: blue;
    box-shadow: 0 0 0px rgba(0, 0, 255, 0.5);
    transform: scale(1.1);
}
.titreD2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titreD2 h1 {
    font-size: 50px;
}
.stats1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 150px;
    background: linear-gradient(to right, gold, black);
    border: 3px solid blue;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 20px;
    margin-bottom: 50px;
  }
.stats img{
    width: 150px;
  }
.stats h2{
    margin-right: 150px;
  }
  
  .stats:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
.stats h2{
    font-size: 40px;
}
.joueurs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-bottom: 1000px;
}
.gardiens {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: auto;
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 20px;
}
.défenseurs {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: auto;
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 20px;
}
.milieux {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: auto;
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 20px;
}
.attaquants {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: auto;
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 20px; 
}
.MILIEUX {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: auto;
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 20px; 
}
.classement {
    display: flex;
    justify-content: space-around;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gt
{
    width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noteMoyenne
{
    width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nombreMatch
{
    width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.invincibilité
{
    width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3
{
    margin-left: 20px;
  display: flex;
  align-items: center;
}
.hidden {
    display: none;
}
